{
    "swagger": "2.0",
    "info": {
        "title": "The apex API",
        "version": "1"
    },
    "host": "ccc-api1.cards.ec.tw1.yahoo.com:4443",
    "basePath": "/api/apex/v1",
    "schemes": [
        "https"
    ],
    "paths": {
        "/oAuthTokens": {
            "post": {
                "tags": [
                    "NullResponse"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "oAuthData",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/OAuthData"
                        },
                        "required": true
                    },
                    {
                        "name": "X-YahooWSSID-Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    }
                }
            }
        },
        "/projects/": {
            "post": {
                "tags": [
                    "ProjectResponse"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "creationRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ProjectRequest"
                        },
                        "required": true
                    },
                    {
                        "name": "X-YahooWSSID-Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/ProjectResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    }
                }
            }
        },
        "/projects/{id}": {
            "get": {
                "tags": [
                    "ProjectResponse"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "format": "uuid",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProjectResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ProjectResponse"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "format": "uuid",
                        "required": true
                    },
                    {
                        "name": "project",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ProjectRequest"
                        },
                        "required": true
                    },
                    {
                        "name": "X-YahooWSSID-Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProjectResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ResourceError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "NullResponse": {},
        "OAuthData": {
            "properties": {
                "code": {
                    "type": "string",
                    "example": ""
                },
                "state": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "code",
                "state"
            ]
        },
        "ParsecErrorBody": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "detail": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ParsecErrorDetail"
                    }
                },
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        },
        "ParsecErrorDetail": {
            "properties": {
                "invalidValue": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        },
        "ParsecResourceError": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/ParsecErrorBody"
                }
            },
            "required": [
                "error"
            ]
        },
        "ProjectRequest": {
            "properties": {
                "custodian": {
                    "type": "string",
                    "example": ""
                },
                "description": {
                    "type": "string",
                    "example": ""
                },
                "repoUrl": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "repoUrl",
                "custodian",
                "description"
            ]
        },
        "ProjectResponse": {
            "properties": {
                "custodian": {
                    "type": "string",
                    "example": ""
                },
                "description": {
                    "type": "string",
                    "example": ""
                },
                "doc_generated_time": {
                    "type": "string",
                    "example": ""
                },
                "doc_url": {
                    "type": "string",
                    "example": ""
                },
                "id": {
                    "type": "_UUID_",
                    "example": ""
                },
                "name": {
                    "type": "string",
                    "example": ""
                },
                "repoUrl": {
                    "type": "string",
                    "example": ""
                },
                "repo_head_sha": {
                    "type": "string",
                    "example": ""
                },
                "repo_update_time": {
                    "type": "string",
                    "example": ""
                },
                "review_url": {
                    "type": "string",
                    "example": ""
                },
                "splunk_dashboard_url": {
                    "type": "string",
                    "example": ""
                },
                "test_host_url": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "id",
                "name",
                "repoUrl",
                "custodian",
                "description",
                "repo_update_time",
                "repo_head_sha",
                "doc_generated_time",
                "doc_url",
                "review_url",
                "splunk_dashboard_url",
                "test_host_url"
            ]
        },
        "ResourceError": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "code",
                "message"
            ]
        }
    }
}
